html, body, #root, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    background-color: black;
}

.dialog-modal {
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px;
    position: relative;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    text-align: right;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.modal-body label {
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: #d3cedc;
    text-transform: uppercase;
}

.modal-body input {
    width: 100%;
    max-width: 35rem;
    font: inherit;
    font-size: 1.25rem;
    border: 1px solid #d3cedc;
    border-radius: 4px;
    padding: 0.5rem;
}